:root {
--sidebar-width: 260px;
--primary: #3E8DEE;
--bg: #EAF0F6;
}

* { 
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
margin: 0;
background: var(--bg);
overflow-x: hidden;
}

/* Navbar */
.top-navbar {
width: 100%;
height: 70px;
background: #fff;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 24px;
box-shadow: 0 4px 12px rgba(0,0,0,.05);
position: sticky;
top: 0;
border-radius: 15px;
z-index: 1300;
}

.top-navbar h4{
color:#3A3541;
font-weight: 500;
}
.top-navbar .left {
display: flex;
align-items: center;
gap: 16px;
}
.top-navbar button {
background: none;
border: none;
font-size: 20px;
cursor: pointer;
}
.top-navbar .right i {
font-size: 20px;
margin-left: 18px;
color: #676767;
}

/* Wrapper for sidebar + content */
#wrapper {
display: flex;
}

/* Sidebar */
#sidebar {
width: var(--sidebar-width);
min-height: calc(100vh - 70px);
background: #fff;
padding: 10px;
box-shadow: 0 8px 24px rgba(0,0,0,.05);
position: fixed;
border-radius: 15px;
left: 15px;
top: 85px;
transition: transform 0.3s ease;
z-index: 1200;
}

#sidebar .logo {
font-size: 36px;
font-weight: 500;
text-align: center;
margin-bottom: 25px;
color: #4C4C4C;
}

.menu {
list-style: none;
padding: 0;
}
.menu li {
margin-bottom: 5px;
}
.menu a {
display: block;
padding: 12px 16px;
border-radius: 8px;
color: #4C4C4C;
text-decoration: none;
font-size: 14px;
font-weight: 400;
}
.menu a:hover {
background: var(--primary);
color: #fff;
}
.menu li.active a { background: var(--primary); color: #fff; }

/* Content */
#content {
flex-grow: 1;
padding: 10px;
background: var(--bg);
margin-left: calc(var(--sidebar-width) + 30px);
}

/* Overlay for mobile sidebar */
#overlay {
display: none;
position: fixed;
top: 70px;
left: 0;
width: 100%;
height: calc(100vh - 70px);
background: rgba(0,0,0,0.5);
z-index: 1100;
transition: opacity 0.3s ease;
}


/* Responsive */
/* Mobile */
@media (max-width: 767px) {
.top-navbar h4{
font-size: 16px;
}
#wrapper { flex-direction: column; }
#sidebar {
top: 70px;
left: 0;
width: 250px;
min-height: calc(100vh - 70px);
border-radius: 0;
transform: translateX(-100%);
}

#sidebar.show {
transform: translateX(0);
}

#overlay.show {
display: block;
}

#content {
margin-left: 0;
padding: 15px;
}
}

/* Tablet*/
@media (min-width: 768px) and (max-width: 1000px) {
.top-navbar {
width: 100%;
}
.top-navbar h4{
font-size: 16px;
}
#sidebar {
width: 200px;
transform: translateX(0);
position: fixed;
}

#content {
margin-left: 200px;
padding: 20px;
}
}