body{
background-color:#EAF0F6;
}
#content h2{
color: #4C4C4C;
font-weight: 700;
}
/* Table */
.card-table {
background: #fff;
border-radius: 15px;
padding: 10px;
box-shadow: 0 4px 12px rgba(0,0,0,0.03);
}
.action-btn {
background-color: #2686E1;
border: none;
padding: 8px 20px;
border-radius: 8px;
}

/* Add User Modal */
.custom-modal {
background: #EAF0F6;
border-radius: 8px;
padding: 8px;
z-index: 2000 !important;
}

/* Reset Pass Modal */
.password-reset-modal {
background: #EAF0F6;
border-radius: 10px;
color: #4C4C4C;
padding: 10px;
}

.password-reset-modal .form-control {
height: 46px;
border-radius: 8px;
}

.user-details-card {
background: #ffffff;
border-radius: 10px;
padding: 20px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
}

.user-details-card .label {
font-size: 13px;
color: #6c757d;
}

.user-details-card p {
font-weight: 600;
margin: 0;
color: #4C4C4C;
}

/* force modal above everything */
.modal {
z-index: 3000 !important;
}
.modal-backdrop {
z-index: 2990 !important;
}

.custom-modal .form-control,
.custom-modal .form-select {
height: 44px;
border-radius: 8px;
color: #4C4C4C;
border: 1px solid #e3e6ea;
}
.modal {
z-index: 2000 !important;
}

.modal-backdrop {
z-index: 1990 !important;
}

/* Search */
.search-container {
position: relative;
max-width: 100%;
}

.search-icon {
position: absolute;
left: 15px;
top: 15px;
color: #4C4C4C;
}

#tableSearch, #resetSearch {
padding-left: 45px;
height: 45px;
border-radius: 8px;
border: 1px solid #eee;
}

/* Filter */
.filter-btn.active {
background-color: #2686E1;
color: #fff;
}
.filter-btn {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
font-size: 14px;
font-weight: 500;
gap: 8px;
width: 150px;
height: 32px;
background: #FFFFFF;
border: none;
color: #4C4C4C;
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
}
#usersTable thead tr th {
color: #4C4C4C ;
font-weight: 500  ;
}
#usersTable tbody tr td {
color: #4C4C4C ;
font-weight: 400 ;
}
.status-pill {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
width: 128px;
min-width: 84px;
max-width: 480px;
height: 32px;
background: #2686E1;
color: #FFFFFF;
border-radius: 8px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.edit-btn , .delete-btn {
background-color: transparent;
border: none;
height: 21px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
color: #4C4C4C;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
justify-content: left;
align-items: left;
text-align: left;
}
.table thead th {
color: #6c757d;
font-weight: 500;
border-bottom: 1px solid #f0f0f0;
}

/* Responsive */
@media (min-width: 768px) {
.card-table {
padding: 25px;
}
}
#usersTable th, #usersTable td {
white-space: nowrap;
}

.table-responsive {
border: none;
-webkit-overflow-scrolling: touch;
}
.pagination .page-link {
border-radius: 6px;
color: #3182ce;
}

.pagination .active .page-link {
background-color: #3182ce;
border-color: #3182ce;
color: #fff;
}


@media (max-width: 576px) {
.filter-select{
width:100%!important;
}

.navbar-text{
font-size:1rem!important;
}

.action-btn{
font-size:0.75rem;
padding:5px 12px;
}
}
