body{
background-color:#F4F5F9;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}
h2{
color: #3F3F3F;
}
.login-card{
width:400px;
max-width:100%;
height: 300px;
padding:40px;
background:#ffffff;
border-radius:15px;
box-shadow:0 4px 20px rgba(0,0,0,0.05);
}
.login-btn{
background-color:#2686E1;
border:none;
padding:10px;
font-weight:600;
}
.login-btn:hover {
background-color: #236dbd;
}

.form-control-lg {
border-radius: 8px;
border: 1px solid #dee2e6;
font-size: 1rem;
color: #89868D;
}
.is-invalid {
border-color: #dc3545;
}

.is-invalid:focus {
box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.25);
}
