  :root {
    --sidebar-width: 260px;
    --primary-color: #2563EB;
    --navbar-height: 70px;
    --title-color: #1F2937;
    --light-color : #6B7280;
}

  body {
    font-family: 'Roboto', sans-serif;
    background: #F8F9FC;
    margin: 0;
    overflow-x: hidden;
    }

/* Start Navbar */
  .navbar {
    height: var(--navbar-height);
    z-index: 1000;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    background-color: #FFFFFF;
    border-bottom: 0.8px solid #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

  .navbar h2 {
    color: var(--title-color);
    font-size: 18px;
    align-items: center;
    }

  .profile h3{
    color: var(--title-color);
    font-weight: 400;
    font-size: 18px;
    } 

    .profile p {
    font-size: 12px;
    font-weight: 400;
    color: var(--light-color);
    }

  .profile i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    }

/* End Navbar */

/* Start Sidebar */
  .sidebar {
    width: var(--sidebar-width);
    background: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    padding: 20px;
    border-right: 0.8px solid #E5E7EB;
    transition: transform 0.3s ease;
}

/* SideBar Header (LOGO) */
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 0.8px solid #E5E7EB;
    }

  .sidebar .logo h5 {
    color: var(--title-color);
    font-weight: 600;
    margin: 0;
    font-size: 24px;
    }

  .sidebar .logo p{
    font-size: 14px;
    color: var(--light-color);
    font-weight: 400;
    }


/* Sidebar Nav Links */
  .menu {
    list-style: none;
    padding: 0; 
    }

  .menu li {
    margin-bottom: 5px;
    }

  .menu li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--light-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.2s;
    }

  .menu li.active a, .menu li a:hover {
    background: var(--primary-color);
    color: #fff;
    }

/* Side bar Overlay for mobile */
  .sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1050;
    }

/* End Of Sidebar */


/* Main Wrapper */
  .main-wrapper {
    margin-left: var(--sidebar-width);
    min-height: 100vh;
    }

/* Start Content */
  .content {
    padding-top: 80px; 
    }

/* Pages switching  */
  .page {
    display: none;
    animation: fade 0.3s ease;    }

  .page.active {
    display: block;
    }

/* End Content */


/*  ===== 1- Dashboard Page =====*/
  #dashboard {
    background: transparent;
    padding: 20px;
    }

  #users {
    background: transparent;
    padding: 20px;
    }

/* Status Cards */
  .stat-card {
    background: #ffffff;
    border-radius: 16px;
    border: 0.8px solid #E5E7EB;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04);
    }

  .stat-card:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
    }

/* Text */
  .stat-card .info .title {
    font-size: 14px;
    color: var(--light-color);
    line-height: 20px;
    margin-bottom: 6px;
    font-weight: 400;
    }

  .stat-card .info h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--title-color);
    margin: 0 0 8px;
    line-height: 32px;
    }

  .stat-card .trend {
    font-size: 14px;
    font-weight: 700;
    color: #10B981;
    line-height: 20px;
}

/* Icon */
  .icon-box {
    width: 12px;
    height: 18px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFF6FF;
    color: var(--primary-color);
}

/* Chart Row */
  .card-box {
    background: #fff;
    border: 0.8px solid #E5E7EB;
    border-radius: 16px;
    padding: 24px;
    height: 100%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04);
    }

  .card-box h6 {
    font-size: 18px;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 20px;
    line-height: 28px;
    }

/* Recent Activity Row */
  .activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 0.8px solid #E5E7EB;
    }

  .activity-item:last-child {
    border-bottom: none;
    }

  .activity-info {
    display: flex;
    align-items: center;
    gap: 15px;
    }

  .status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    flex-shrink: 0;
    }

  .activity-text strong {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
    line-height: 20px;
    }

  .activity-text span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--light-color);
    }

  .activity-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--light-color);
    }

/* ==== End Of Dashboard Page==== */

/* Start Of Users Mang. Page */

/* Header */
  .page-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 4px;
    line-height: 36px;
}

  .page-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light-color);
}

/* Add User Button */
  .create-user-btn {
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border: none;
}

/* Users Stat Cards */
  .user-stat-card {
    background: #ffffff;
    border: 0.8px solid #E5E7EB;
    border-radius: 16px;
    padding: 20px 24px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    height: 100%;
}

  .user-stat-card .label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--light-color);
    margin-bottom: 6px;
}

  .user-stat-card h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--title-color);
}

/* Filters & Search bar */
  .users-filters {
    background: #ffffff;
    border: 0.8px solid #E5E7EB;
    border-radius: 16px;
    padding: 14px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    }

/* Search Box */
  .search-box {
    position: relative;
}

  .search-box i {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--light-color);
}

  .search-box input {
    width: 100%;
    height: 50px;
    padding: 0 16px 0 52px;
    border-radius: 14px;
    border: 0.8px solid #E5E7EB;
    font-size: 15px;
    color: #111827;
    outline: none;
}

  .search-box input::placeholder {
    color: #9ca3af;
}

/* Select Box */
  .select-box {
    position: relative;
}

  .select-box select {
    appearance: none;
    width: 100%;
    height: 50px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 48px 0 18px;
    border-radius: 14px;
    border: 0.8px solid #E5E7EB;
    font-size: 16px;
    color: var(--title-color);
    background: #fff;
    cursor: pointer;
}

  
  .select-box i {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--light-color);
    pointer-events: none;
}

/* Filter Button */
  .filter-btn {
    height: 50px;
    border-radius: 14px;
    border: 0.8px solid #E5E7EB;
    background: #ffffff;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.2s;
}

/* Datatable  */
  .table-container {
    border: 0.8px solid #E5E7EB;
    border-radius: 16px;
    margin-top: 24px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    width: 100%;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    }

  table.dataTable {
    border-collapse: collapse !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  table.dataTable thead th {
    background-color: #F9FAFB;
    padding: 16px 24px !important;
    color: var(--light-color);
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 0.8px solid #E5E7EB !important;
    }

  table.dataTable tbody td {
    padding: 16px 24px !important;
    vertical-align: middle;
    border-bottom: 1px solid #F3F4F6;
    white-space: nowrap;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    }

  /* Name & Email Style */
  .user-info .user-name {
    display: block;
    font-weight: 400;
    line-height: 20px;
    color: var(--title-color);
    font-size: 14px;
  }

  .user-info .user-email {
    display: block;
    color: var(--light-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  
  /* Role Badges */
  .badge-role-admin {
    background-color: #F3E8FF;
    color: #8200DB;
    border-radius: 12px;
    padding: 6px 16px;
    font-weight: 400;
    font-size: 12px;
    border: none;
  }

  .badge-role-dispatcher {
    background-color: #DBEAFE;
    color: #1447E6;
    border-radius: 12px;
    padding: 6px 16px;
    font-weight: 400;
    font-size: 12px;
    border: none;
  }

   /* Status Badges */
    .badge-status-active {
    background-color: #DCFCE7;
    color: #008236;
    border-radius: 12px;
    padding: 6px 12px;
    font-weight: 400;
}

  .badge-status-inactive {
    background-color: #F3F4F6; 
    color: #364153; 
    border-radius: 12px; 
    padding: 6px 12px; 
    font-weight: 400; 
  }

   /* Action Icons */
  .action-btns { 
    display: flex; 
    gap: 15px; 
    color: #6B7280; 
    font-size: 18px; 
  }
  .action-btns i { 
    cursor: pointer; 
    transition: 0.2s; 
  }
  .action-btns i:hover { 
    color: #4B5563; 
  }

  /* Hide Default DataTables Search and Length */
  .dataTables_filter, .dataTables_length { 
    display: none; }

    /* Add User Modal  */
  /* .custom-input {
    height: 48px;
    border-radius: 10px !important;
    border: 1px solid #E5E7EB !important;
    font-size: 14px;
}
  .custom-input::placeholder { 
    color: #9CA3AF; 
  }
  .form-label { 
    font-size: 14px; 
    color: #374151; 
  }

  .create-user-btn { cursor: pointer; } */

/* End Of Users Mang. Page */

/* --- Mobile Responsive--- */
  @media (max-width: 992px) {
    .navbar { left: 0; width: 100%; }
    .sidebar { transform: translateX(-100%); }
    .main-wrapper { margin-left: 0; }
    body.sidebar-open .sidebar { transform: translateX(0); }
    body.sidebar-open .sidebar-overlay { display: block; }
    .stat-card { width: 100%; }
}
    

/* --- Desktop Toggled State (Collapsed) --- */
    body.sidebar-collapsed .sidebar {
    transform: translateX(-100%);
    }

    body.sidebar-collapsed .main-wrapper {
    margin-left: 0;
    }

/* Overlay Backdrop */
    .sidebar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        z-index: 1050;
    }

/* Animation */
    @keyframes fade {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
    }